body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.container {
  display: grid;
  max-width: 1200px;
  position: relative;
  margin: auto;
  gap: 10px;
  grid-template-rows: 200px 100px 600px 200px;
  grid-template-areas:  "header header"
                        "nav nav"
                        "left right"
                        "footer footer";
}

h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

header {
  background-color: dodgerblue;
  grid-area: header;
}

nav {
  background-color: beige;
  grid-area: nav;
}

nav li, footer li {
  display: inline-block;
  margin: 20px;
}

.left {
  background-color: dodgerblue;
  grid-area: left;
}

.right {
  background-color: beige;
  grid-area: right;
}

footer {
  background-color: dodgerblue;
  grid-area: footer;
}