.grid {
    border: 2px blue solid;
    height: 500px;
    display: grid;
    grid-template: repeat(3, 1fr) / 3fr minmax(50px, 300px) 1fr;
    row-gap: 20px;
  }
  
.box {
    background-color: beige;
    color: black;
    border-radius: 5px;
    border: 2px dodgerblue solid;
  }

/* This is for creating item grids inside the main grid */
.a {
  grid-row-start: 1;
  grid-row-end: 5;
  /* refracter your code */
  grid-row: 1/5;
  grid-column: 1/5;
}